# Example .env file for telegramarr
SEERR_HOST=your_seerr_host_ip_here
SEERR_PORT=5055
SEERR_API_KEY=your_seerr_api_key_here==

PROWLARR_HOST=your_prowlarr_host_ip_here
PROWLARR_PORT=9696
PROWLARR_API_KEY=your_prowlarr_api_key_here

TMDB_API_KEY=your_tmdb_api_key_here

TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

LOOP_INTERVAL_HOURS=1
SEARCH_INTERVAL_HOURS_PER_MOVIE=6
